* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

#banner {
    height: 200px;
    width: 100%;
    background-color: #6fcbed;
}

/* End banner */

/* Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #63747a;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:visited {
    color: white;
}

li a:hover {
    background-color: #111;
}

/* End menu */

/* Body */
#intro_1 {
    background-color: #9ce2bf;
    width: 50%;
    height: 200px;
    float: left;
}

#intro_2 {
    background-color: #bada55;
    width: 50%;
    height: 200px;
    float: left;
}

/* End body */
